[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
autopep8 = "*"
flake8 = "*"

[packages]
python-dateutil = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
